html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.loginbody {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #092353 30%, #07012b 110%);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  
}

.login-box {
  background: rgba(38, 38, 66, 0.6);
  padding: 2.5rem;
  border-radius: 12px;
  z-index: 1;
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.25),
    0 2px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 400px;
  width: 100%;
  
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    135deg,
    rgba(30, 30, 45, 0.171) 20%,
    rgba(20, 20, 35, 0.65) 100%
  );
}

.bubbles {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  z-index: -1;
}

.bubbles img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0.7;
}


.title {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
}
.sign-in {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-align: left;
}
.forgot{
  color: white;
  font-size: 0.8rem;
  text-align: right;
}
.sign-up{
  color: white;
  font-size: 1rem;
}
.or{
  color: white;
}
.desc{
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sign-in-field {
  background-color: rgb(41, 56, 75);
  border-radius: 6px;
  color: white;
}

.sign-in-field input {
  color: white;
}

.sign-in-field input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.password-container {
  display: flex;
  align-items: center;
  background-color: rgba(41, 56, 75);
  border-radius: 6px;
  padding-right: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.eyeIcon {
  color: rgba(255, 255, 255, 0.7);
}

.loginButton {
  background-color: rgb(120, 53, 228) !important;
  color: white !important;
  padding: 12px;
  font-weight: 500;
  text-transform: none;
  box-shadow: none !important;
  margin-top: 0.5rem;
  text-align: center;
}

.loginButton:hover {
  background-color: #f5f5f5 !important;
}
